@use "../colors" as *;
@use "../breakpoints" as breakpoint;
@use "../mixins" as *;

/* main component */

/* musician part*/

.musician {
  padding: 0 1rem 0 1rem;

  &__title {
    font-size: 1.5rem;
    color: $bandsite-black;
    padding-top: 1.5rem;
    margin: 0 0;
  }

  &__picture {
    padding: 1rem 0 1rem 0;
    width: 100%;
    height: 30vh;
  }

  &__text {
   @include subheader;
    margin: 0 0;
  }

  &__subtitle {
    @include subheader;
    font-weight: 500;
  }

  &__subtext {
   @include bodycopy
  }
}

/* Photogallery */

.photogallery {
  background-color: $Alabaster;
  padding: 0 1rem;

  &__title {
    @include sectionheader;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__container {
    @include flexcolumn;
  }

  &__picture {
    height: 30vh;
    margin-bottom: 1rem;
  }
}
