@use "./partials/fonts";
@use "./partials/components/header";
@use "./partials/components/mainContent";
@use "./partials/components/footer";
@use "./partials/components/comment";

html,
body {
  margin: 0;
  font-family: "Avenir";
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
