/* regular */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opnetype");
  font-weight: 400;
  font-style: normal;
}
/* Demi */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("opnetype");
  font-style: normal;
  font-weight: 600;
}
/* bold */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("opnetype");
  font-style: normal;
  font-weight: 700;
}
/* primary text color dark & background color */
/* seconary text & inacitive CTA */
/* Primary color light & active CTA */
/* hover state color */
/* media query for mobile */
/* media query for tablet */
/* media query for high pixel density devices */
/* styles for header for mobile */
/* haedbanner */
.headbanner {
  background-color: #323232;
  text-align: center;
  padding: 3% 0;
}
.headbanner__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
.headbanner__container {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0 4%;
}
.headbanner__text {
  color: #afafaf;
}
.headbanner__text:hover {
  color: white;
  font-weight: 600;
  border-bottom: 0.1875rem solid white;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../../../Assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
}
.hero__text {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  padding: 1rem;
}

/* styles for header on tablet device */
/* general mixin*/
/* mobile */
/* tablet&desktop */
/* main component */
/* musician part*/
.musician {
  padding: 0 1rem 0 1rem;
}
.musician__title {
  font-size: 1.5rem;
  color: #323232;
  padding-top: 1.5rem;
  margin: 0 0;
}
.musician__picture {
  padding: 1rem 0 1rem 0;
  width: 100%;
  height: 30vh;
}
.musician__text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0 0;
}
.musician__subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  font-weight: 500;
}
.musician__subtext {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

/* Photogallery */
.photogallery {
  background-color: #fafafa;
  padding: 0 1rem;
}
.photogallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}
.photogallery__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.photogallery__picture {
  height: 30vh;
  margin-bottom: 1rem;
}

/* footer part */
.footer {
  background-color: #323232;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 0;
}
.footer__Social {
  text-align: left;
}
.footer__Social-image {
  padding-right: 10%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer__contacts-infor-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.footer__contacts-infor-detail {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.footer__end-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0 0;
}

html,
body {
  margin: 0;
  font-family: "Avenir";
  line-height: 1.8rem;
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}/*# sourceMappingURL=bio.css.map */