/* regular */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opnetype");
  font-weight: 400;
  font-style: normal;
}
/* Demi */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("opnetype");
  font-style: normal;
  font-weight: 600;
}
/* bold */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("opnetype");
  font-style: normal;
  font-weight: 700;
}
/* primary text color dark & background color */
/* seconary text & inacitive CTA */
/* Primary color light & active CTA */
/* hover state color */
/* media query for mobile */
/* media query for tablet */
/* media query for high pixel density devices */
/* general mixin*/
/* mobile */
/* tablet&desktop */
/* styles for header for mobile */
/* headbanner */
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .headbanner {
    background-color: #323232;
    padding: 3% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headbanner__logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
  }
  .headbanner__container {
    display: flex;
    width: 100%;
    padding: 0.5rem 0 0 0;
  }
  .headbanner__text {
    font-family: "Avenir";
    font-size: 0.8125rem;
    font-weight: 400;
    text-decoration: none;
    width: 50%;
    text-align: center;
    padding-bottom: 0.5rem;
    color: #afafaf;
  }
  .headbanner .textbio {
    border-bottom: 0.1875rem solid white;
  }
  .headbanner .textshow {
    border-bottom: 0.1875rem solid white;
  }
  .headbanner__text:hover {
    color: white;
    font-weight: 600;
    border-bottom: 0.1875rem solid white;
  }
}
/* hero */
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .hero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 35vh;
  }
  .hero__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: white;
    padding: 1rem;
  }
}
/* hero for shows*/
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .showshero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../../Assets/Images/hero-shows.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .showshero__text {
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 1rem 0 0 1rem;
    margin: 0 0;
  }
  .showshero__heading {
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1rem 0 0 1rem;
    margin: 0 0;
    width: 80%;
  }
  .showshero__music {
    margin-left: 1rem;
    width: 290px;
    height: 105px;
  }
}
/* styles for header on tablet device */
/* headbanner */
@media only screen and (min-width: 767px) {
  .headbanner {
    background-color: #323232;
    display: flex;
    padding: 1.3rem 2.25rem 0 2.25rem;
  }
  .headbanner__logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
    padding-right: 1.8rem;
  }
  .headbanner__container {
    display: flex;
    justify-content: space-around;
    padding: 0 4%;
  }
  .headbanner__text {
    font-size: 0.875rem;
    text-decoration: none;
    margin-right: 2rem;
    padding-bottom: 1.3rem;
    color: #afafaf;
  }
  .headbanner .textbio {
    border-bottom: 0.1875rem solid white;
  }
  .headbanner .textshow {
    border-bottom: 0.1875rem solid white;
  }
  .headbanner__text:hover {
    color: white;
    font-weight: 600;
    border-bottom: 0.1875rem solid white;
  }
}
/* hero */
@media only screen and (min-width: 767px) {
  .hero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 60vh;
  }
  .hero__text {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    color: white;
    padding: 2.25rem;
  }
}
/* shows hero */
@media only screen and (min-width: 767px) {
  .showshero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../../Assets/Images/hero-shows.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 79vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .showshero__text {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.5rem 2.25rem 0 2.25rem;
    margin: 0 0;
  }
  .showshero__heading {
    color: white;
    font-size: 58px;
    padding: 0.6rem 2.25rem;
    margin: 0 0;
    width: 75%;
  }
  .showshero__music {
    margin-left: 2.25rem;
    width: 420px;
    height: 140px;
  }
}
/* styles for header on desktop */
/*headbanner*/
@media only screen and (min-width: 1280px) {
  .headbanner {
    padding: 1.5rem 10vw 0 10vw;
  }
}
/* hero */
@media only screen and (min-width: 1280px) {
  .hero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 80vh;
  }
  .hero__text {
    padding: 10vw;
  }
}
/* shows hero*/
@media only screen and (min-width: 1280px) {
  .showshero {
    padding: 0 10vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .showshero__container {
    width: 59%;
  }
  .showshero__music {
    width: 470px;
    margin-top: 2.5rem;
  }
  .showshero__text {
    padding: 0 0;
  }
  .showshero__heading {
    padding: 1rem 0rem;
    margin: 0 0;
    width: 82%;
  }
}
/* main component */
/* styles for main for mobile */
/* musician part*/
.musician {
  padding: 0 1rem 0 1rem;
}
.musician__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
  padding-top: 1.5rem;
  margin: 0 0;
}
.musician__picture {
  padding: 1rem 0 0 0;
  width: 100%;
  height: 30vh;
}
.musician__text {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0 0;
}
.musician__text-name {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-top: 0.3rem;
}
.musician__subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 0.5rem;
}
.musician__subtext {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

/* Photogallery */
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .photogallery {
    background-color: #fafafa;
    padding: 0 1rem;
  }
  .photogallery__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .photogallery__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .photogallery__picture {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}
/* styles for main for tablet */
/* musician part*/
@media only screen and (min-width: 767px) {
  .musician {
    padding: 0 2.25rem;
  }
  .musician__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    color: #323232;
    padding-top: 3rem;
    margin: 0 0;
  }
  .musician__container {
    padding: 0 8%;
  }
  .musician__picture {
    padding: 2.25rem 0 0 0;
    width: 100%;
    height: 50vh;
  }
  .musician__text {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 0 0;
    padding-top: 1rem;
  }
  .musician__text-name {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
  }
  .musician__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-top: 2.25rem;
    margin: 0 0;
  }
  .musician__subtitle-container {
    display: flex;
    font-size: 0.875rem;
    line-height: 22px;
    font-weight: 400;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  .musician__subtext {
    width: 46%;
  }
}
/* Photo gallery */
@media only screen and (min-width: 767px) {
  .photogallery {
    background-color: #fafafa;
    padding: 0 2.25rem;
  }
  .photogallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    margin: 0 0;
  }
  .photogallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2.25rem;
  }
  .photogallery__picture {
    width: 32%;
    height: auto;
    padding-top: 2%;
  }
}
/* styles for main for desktop */
@media only screen and (min-width: 1280px) {
  .musician {
    padding: 0 10vw;
  }
  .musician__picture {
    width: 100%;
    height: 65vh;
  }
  .photogallery {
    padding: 0 10vw;
  }
}
/* footer part */
/* styles for footer for mobile */
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .footer {
    background-color: #323232;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
  }
  .footer__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 0;
  }
  .footer__social {
    text-align: left;
    width: 12.5rem;
  }
  .footer__social-image {
    padding-right: 14%;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2rem;
  }
  .footer__contacts-infor-name {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-weight: 500;
  }
  .footer__contacts-infor-detail {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .footer__end-text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0 0;
  }
}
/* styles for footer for tablet */
@media only screen and (min-width: 767px) {
  .footer {
    background-color: #323232;
    padding: 2.25rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
  }
  .footer__social-container {
    display: flex;
    align-items: self-end;
    margin-bottom: 1rem;
  }
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin: 0 59px 0 0;
  }
  .footer__social {
    width: 12.5rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__social-image {
    padding-right: 14%;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    width: 43.75rem;
    padding-bottom: 1.2rem;
  }
  .footer__contacts-infor-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  .footer__contacts-infor-detail {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .footer__end-image {
    position: absolute;
    bottom: 80%;
    left: 82%;
  }
  .footer__end-text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0 0;
  }
}
/* styles for footer for desktop */
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 2.25rem 10vw;
  }
}
/* styles for comment for mobile */
/*  comment form */
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .commentform {
    padding: 1rem 1rem 0 1rem;
  }
  .commentform__head {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.9375rem;
  }
  .commentform__container {
    display: flex;
    justify-content: normal;
    border-bottom: 1px solid #E1E1E1;
  }
  .commentform__picture {
    background-image: url(../Assets/Images/Mohan-muruge.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 30%;
    height: auto;
    max-width: 2.25rem;
    max-height: 2.25rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
  .commentform__name {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .commentform__name--text {
    font-size: 0.625rem;
    color: #afafaf;
    font-weight: 400;
    padding-bottom: 4px;
  }
  .commentform__comment {
    display: flex;
    flex-direction: column;
  }
  .commentform__comment--text {
    font-size: 0.75rem;
    color: #afafaf;
    font-weight: 400;
    padding-bottom: 4px;
  }
  .commentform__button {
    font-size: 1rem;
    font-family: "Avenir";
    width: 100%;
    height: 40px;
    color: white;
    background-color: #323232;
    margin: 1rem 0;
    border-radius: 4px;
    border: transparent;
  }
  .commentform__button:hover {
    background-color: #000000;
  }
  .commentform .commentformone {
    width: 90%;
  }
  .commentform input {
    background: #fafafa;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    min-height: 2.25rem;
    padding: 12px;
  }
  .commentform input::-moz-placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform input:-ms-input-placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform input::placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform input:focus {
    outline: none !important;
    border-color: #323232;
  }
  .commentform textarea {
    background: #fafafa;
    width: 100%;
    height: 5.625rem;
    border-radius: 4px;
    border: 1px solid #E1E1E1;
    padding: 12px;
  }
  .commentform textarea::-moz-placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform textarea:-ms-input-placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform textarea::placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform textarea:focus {
    outline: none !important;
    border-color: #323232;
  }
  /* comment part  for mobile */
}
@media only screen and (max-width: 767px) and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .comments {
    padding: 0 1rem 1rem 1rem;
  }
  .comments__detail {
    display: flex;
    justify-content: normal;
    border-bottom: 1px solid #E1E1E1;
    padding-top: 1rem;
  }
  .comments__picture {
    background-color: #E1E1E1;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 30%;
    height: auto;
    max-width: 2.25rem;
    max-height: 2.25rem;
    margin-right: 1rem;
  }
  .comments__like-container {
    display: flex;
    position: relative;
    left: 84%;
    margin-bottom: 1rem;
    height: 1rem;
    width: 5%;
  }
  .comments__like {
    background-image: url(../../../Assets/Icons/SVG/icon-like.svg);
    background-size: cover;
    background-size: auto;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }
  .comments__text {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .comments__text--container {
    display: flex;
    justify-content: space-between;
  }
  .comments__text--name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  .comments__text--time {
    color: #afafaf;
    font-size: 14px;
  }
  .comments__text--content {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-size: 0.875rem;
    padding-top: 1rem;
  }
}
/* comment content  for tablet */
/*  comment form */
@media only screen and (min-width: 767px) {
  .commentform {
    padding: 3rem 0 0 0;
  }
  .commentform__head {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .commentform__container {
    display: flex;
    justify-content: normal;
    border-bottom: 1px solid #E1E1E1;
    margin: 0 9%;
  }
  .commentform__picture {
    background-image: url(../Assets/Images/Mohan-muruge.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 30%;
    height: auto;
    max-width: 2.25rem;
    max-height: 2.25rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
  .commentform__name {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .commentform__name--text {
    font-size: 0.625rem;
    color: #afafaf;
    font-weight: 400;
    padding-bottom: 4px;
  }
  .commentform__comment {
    display: flex;
    flex-direction: column;
  }
  .commentform__comment--text {
    font-size: 0.75rem;
    color: #afafaf;
    font-weight: 400;
    padding-bottom: 4px;
  }
  .commentform__button {
    font-size: 1rem;
    font-family: "Avenir";
    min-width: 150px;
    height: 40px;
    color: white;
    background-color: #323232;
    margin: 1.2rem 0;
    border-radius: 4px;
    border: transparent;
  }
  .commentform__button:hover {
    background-color: #000000;
  }
  .commentform .buttonright {
    text-align: right;
  }
  .commentform .commentformone {
    width: 90%;
  }
  .commentform input {
    background: #fafafa;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    min-height: 3rem;
    padding: 16px;
  }
  .commentform input:focus {
    outline: none !important;
    border-color: #323232;
  }
  .commentform input::-moz-placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform input:-ms-input-placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform input::placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform textarea {
    background: #fafafa;
    width: 100%;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #E1E1E1;
    padding: 16px;
  }
  .commentform textarea::-moz-placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform textarea:-ms-input-placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform textarea::placeholder {
    color: #323232;
    font-family: "Avenir";
  }
  .commentform textarea:focus {
    outline: none !important;
    border-color: #323232;
  }
  /* comment part */
}
@media only screen and (min-width: 767px) and (min-width: 767px) {
  .comments {
    padding: 0 9% 2.25rem 9%;
  }
  .comments__detail {
    display: flex;
    justify-content: normal;
    border-bottom: 1px solid #E1E1E1;
    padding-top: 1rem;
  }
  .comments__picture {
    background-color: #E1E1E1;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 30%;
    height: auto;
    max-width: 2.25rem;
    max-height: 2.25rem;
    margin-right: 1rem;
  }
  .comments__like-container {
    display: flex;
    position: relative;
    left: 84%;
    margin-bottom: 1rem;
    height: 1rem;
    width: 5%;
  }
  .comments__like {
    background-image: url(../../../Assets/Icons/SVG/icon-like.svg);
    background-size: cover;
    background-size: auto;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }
  .comments__text {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .comments__text--container {
    display: flex;
    justify-content: space-between;
  }
  .comments__text--name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  .comments__text--time {
    color: #afafaf;
    font-size: 14px;
  }
  .comments__text--content {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 1rem 0;
  }
}
/* comment content  for desktop */
/*  comment form */
@media only screen and (min-width: 1280px) {
  .commentform__head {
    padding-left: 10vw;
  }
  .commentform__container {
    justify-content: normal;
    margin: 0 23vw;
    padding: 2.25rem 0 0 0;
  }
  .commentform__picture {
    margin-right: 1.2rem;
  }
  .comments {
    padding: 0 23vw 2.25rem 23vw;
  }
  .comments__detail {
    justify-content: normal;
  }
  .comments__picture {
    margin-right: 1.2rem;
  }
}
html,
body {
  margin: 0;
  font-family: "Avenir";
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}/*# sourceMappingURL=bio.css.map */