/* regular */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opnetype");
  font-weight: 400;
  font-style: normal;
}
/* Demi */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("opnetype");
  font-style: normal;
  font-weight: 600;
}
/* bold */
@font-face {
  font-family: "Avenir";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("opnetype");
  font-style: normal;
  font-weight: 700;
}
/* primary text color dark & background color */
/* seconary text & inacitive CTA */
/* Primary color light & active CTA */
/* hover state color */
/* media query for mobile */
/* media query for tablet */
/* media query for high pixel density devices */
/* general mixin*/
/* mobile */
/* tablet&desktop */
/* styles for header for mobile */
/* headbanner */
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .headbanner {
    background-color: #323232;
    padding: 3% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headbanner__logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
  }
  .headbanner__container {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
  }
  .headbanner__text {
    font-family: "Avenir";
    font-size: 0.8125rem;
    font-weight: 400;
    text-decoration: none;
    width: 50%;
    text-align: center;
    padding-bottom: 0.5rem;
    color: #afafaf;
  }
  .headbanner .textbio {
    border-bottom: 0.1875rem solid white;
  }
  .headbanner .textshow {
    border-bottom: 0.1875rem solid white;
  }
  .headbanner__text:hover {
    color: white;
    font-weight: 600;
    border-bottom: 0.1875rem solid white;
  }
}
/* hero */
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .hero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 35vh;
  }
  .hero__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: white;
    padding: 1rem;
  }
}
/* hero for shows*/
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .showshero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../../Assets/Images/hero-shows.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .showshero__text {
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 1rem 0 0 1rem;
    margin: 0 0;
  }
  .showshero__heading {
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1rem 0 0 1rem;
    margin: 0 0;
    width: 80%;
  }
  .showshero__music {
    margin-left: 1rem;
    width: 290px;
    height: 105px;
  }
}
/* styles for header on tablet device */
/* headbanner */
@media only screen and (min-width: 767px) {
  .headbanner {
    background-color: #323232;
    display: flex;
    padding: 1.3rem 2.25rem 0 2.25rem;
  }
  .headbanner__logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
    padding-right: 1.8rem;
  }
  .headbanner__container {
    display: flex;
    justify-content: space-around;
    padding: 0 4%;
  }
  .headbanner__text {
    font-size: 0.875rem;
    text-decoration: none;
    margin-right: 2rem;
    padding-bottom: 1.3rem;
    color: #afafaf;
  }
  .headbanner .textbio {
    border-bottom: 0.1875rem solid white;
  }
  .headbanner .textshow {
    border-bottom: 0.1875rem solid white;
  }
  .headbanner__text:hover {
    color: white;
    font-weight: 600;
    border-bottom: 0.1875rem solid white;
  }
}
/* hero */
@media only screen and (min-width: 767px) {
  .hero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 60vh;
  }
  .hero__text {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    color: white;
    padding: 2.25rem;
  }
}
/* shows hero */
@media only screen and (min-width: 767px) {
  .showshero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../../Assets/Images/hero-shows.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 79vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .showshero__text {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.5rem 2.25rem 0 2.25rem;
    margin: 0 0;
  }
  .showshero__heading {
    color: white;
    font-size: 58px;
    padding: 0.6rem 2.25rem;
    margin: 0 0;
    width: 75%;
  }
  .showshero__music {
    margin-left: 2.25rem;
    width: 420px;
    height: 140px;
  }
}
/* styles for header on desktop */
/*headbanner*/
@media only screen and (min-width: 1280px) {
  .headbanner {
    padding: 1.5rem 10vw 0 10vw;
  }
}
/* hero */
@media only screen and (min-width: 1280px) {
  .hero {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../Assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 80vh;
  }
  .hero__text {
    padding: 10vw;
  }
}
/* shows hero*/
@media only screen and (min-width: 1280px) {
  .showshero {
    padding: 0 10vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .showshero__container {
    width: 59%;
  }
  .showshero__music {
    width: 470px;
    margin-top: 2.5rem;
  }
  .showshero__text {
    padding: 0 0;
  }
  .showshero__heading {
    padding: 1rem 0rem;
    margin: 0 0;
    width: 82%;
  }
}
/* footer part */
/* styles for footer for mobile */
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .footer {
    background-color: #323232;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
  }
  .footer__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 0;
  }
  .footer__social {
    text-align: left;
    width: 12.5rem;
  }
  .footer__social-image {
    padding-right: 14%;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2rem;
  }
  .footer__contacts-infor-name {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 300;
    font-weight: 500;
  }
  .footer__contacts-infor-detail {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 300;
  }
  .footer__end-text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 300;
    margin: 0 0;
  }
}
/* styles for footer for tablet */
@media only screen and (min-width: 767px) {
  .footer {
    background-color: #323232;
    padding: 2.25rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
  }
  .footer__social-container {
    display: flex;
    align-items: self-end;
    margin-bottom: 1rem;
  }
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin: 0 59px 0 0;
  }
  .footer__social {
    width: 12.5rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__social-image {
    padding-right: 14%;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    width: 43.75rem;
    padding-bottom: 1.2rem;
  }
  .footer__contacts-infor-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
  }
  .footer__contacts-infor-detail {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 300;
  }
  .footer__end-image {
    position: absolute;
    bottom: 80%;
    left: 82%;
  }
  .footer__end-text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 300;
    margin: 0 0;
  }
}
/* styles for footer for desktop */
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 2.25rem 10vw;
  }
}
html,
body {
  margin: 0;
  font-family: "Avenir";
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* shows content part for mobile*/
@media only screen and (max-width: 767px) {
  /* placeholder for css properties that needs to be applied for this media query */
  .shows {
    padding: 1rem 1rem 0 1rem;
  }
  .shows__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #323232;
    padding-bottom: 1rem;
  }
  .shows__subheadcontainer {
    visibility: hidden;
    height: 0;
  }
  .shows__inforwarp {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 1rem;
  }
  .shows__inforwarp:hover {
    background-color: #fafafa;
  }
  .shows__infor {
    display: flex;
    flex-direction: column;
  }
  .shows__infor--content {
    font-size: 0.9375rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .shows .shows__infor--date-name,
.shows .shows__infor--venue-name,
.shows .shows__infor--locataio-name {
    font-size: 0.625rem;
    color: #afafaf;
    font-weight: 400;
    padding-bottom: 4px;
  }
  .shows .one {
    font-weight: 500;
  }
  .shows__button {
    font-size: 1rem;
    font-family: "Avenir";
    width: 100%;
    height: 40px;
    color: white;
    background-color: #323232;
    margin: 0 0 0.8rem 0;
    border-radius: 4px;
    border: transparent;
  }
  .shows__divider {
    border-top: 1px solid #E1E1E1;
  }
}
/* shows content part for tablet*/
@media only screen and (min-width: 767px) {
  .shows {
    padding: 2.25rem;
  }
  .shows__inforwarp {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
  }
  .shows__inforwarp:hover {
    background-color: #fafafa;
  }
  .shows__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #323232;
    padding-bottom: 1rem;
  }
  .shows__subheadcontainer {
    display: flex;
    justify-content: start;
  }
  .shows__subheadcontainer-text {
    color: #afafaf;
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 1rem;
    width: 26%;
  }
  .shows__infor {
    display: flex;
    flex-direction: column;
    width: 26%;
  }
  .shows__infor--content {
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 1rem 0;
  }
  .shows .shows__infor--date-name,
.shows .shows__infor--venue-name,
.shows .shows__infor--locataio-name {
    visibility: hidden;
    height: 0;
  }
  .shows .one {
    font-weight: 500;
  }
  .shows__buttonlink {
    width: 22%;
  }
  .shows__button {
    font-size: 1rem;
    font-family: "Avenir";
    width: 100%;
    height: 40px;
    color: white;
    background-color: #323232;
    border-radius: 4px;
    border: transparent;
  }
}
/* shows content part for desktop*/
@media only screen and (min-width: 1280px) {
  .shows {
    padding: 36px 10vw;
    display: flex;
    justify-content: space-between;
  }
  .shows__inforcontainer {
    width: 80%;
  }
  .shows__subheadcontainer {
    margin: 1rem 0;
  }
  .shows__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #323232;
    margin: 0 0;
  }
}/*# sourceMappingURL=show.css.map */